@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  /* buttons, main title, navbar */
  --main-color: #f5df4d;
  --main-light-color: #fcf3bf;
  --main-dark-color: #f1c728;
  /* titles, subtitles */
  --secondary-color: #4d63f5;
  --secondary-light-color: #7281f7;
  --secondary-dark-color: #1a45f0;
  /* text */
  --text-color: #939597;
  --text-light-color: #dadada;
  --text-dark-color: #696969;
  /* basic color */
  --white-color: #f6f8fa;
  --white-light-color: #f5f5f5;
  --dark-black-color: #171717;
  --dark-color: #707070;
  --dark-light-color: #909090;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

body {
  position: relative;
  font-size: calc(1rem + 1vw);
  width: 100vw;
  background-color: var(--white);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
}

h2 {
  color: var(--secondary-color);
  font-size: calc(2rem + 1vw);
}

p {
  width: 80%;
  margin: 0 auto;
  margin-top: calc(0.2rem + 0.5vh);
}
hr {
  border: thin solid var(--text-light-color);
  border-radius: 1rem;
  margin: 0 auto;
  width: 80%;
  margin: 1rem auto;
}

/* Nav bar */
#navbar {
  align-items: center;
  background-color: var(--main-dark-color);
  bottom: 0;
  display: flex;
  height: calc(40px + 1vh);
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#navbar a {
  align-items: center;
  color: var(--dark-light-color);
  display: inline-flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-decoration: none;
}

#navbar a.active {
  color: var(--dark-color);
}

/* TOP button */
.btn-top {
  position: fixed;
  right: 1vw;
  bottom: calc(50px + 1vh);
  background-color: var(--main-light-color);
  border: none;
  box-shadow: 0 0px 4px var(--dark-color), 2px 4px 6px var(--dark-light-color);
  border-radius: 50%;
  width: calc(50px + 1vw);
  height: calc(50px + 1vw);
  transition: background-color 0.3s ease;
}

.btn-top.active {
  background-color: var(--main-color);
}

.btn-top span {
  font-size: 2.5rem;
  color: var(--dark-light-color);
  transition: color 0.3s ease;
}

.btn-top.active span {
  color: var(--dark-color);
}

/* === Welcome === */
.welcome {
  text-align: center;
}

.welcome span {
  font-size: calc(1.5rem + 1vw);
}

.welcome h1 {
  color: var(--main-color);
  font-size: calc(3rem + 1vw);
  margin: 1rem auto;
  font-family: "Dancing Script", sans-serif;
}

.welcome h2 {
  color: var(--text-light-color);
  font-size: calc(2rem + 1vw);
}

.welcome img {
  width: 60%;
  height: auto;
}

.welcome p {
  font-size: calc(1rem + 1vw);
  margin-bottom: 1rem;
}

/* === About ===  */

.about button {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  background-color: var(--main-light-color);
  border: none;
  box-shadow: 0 2px 4px var(--dark-color), 0 3px 6px var(--dark-light-color);
  color: var(--text-color);
  font-weight: bold;
  margin-top: calc(0.5rem + 0.5vh);
}

/* === Portfolio === */

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(1rem + 1vw);
  margin: 1rem auto;
}

.app * {
  margin-top: calc(0.2rem + 0.5vh);
}

.app img {
  width: 100%;
  height: auto;
}

.app h3 {
  font-size: calc(1.5rem + 1vw);
  color: var(--main-dark-color);
}

.btns {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  min-height: 50px;
}

.btns a {
  border-radius: 0.5rem;
  background-color: var(--main-light-color);
  border: none;
  box-shadow: 0 2px 4px var(--dark-color), 0 3px 6px var(--dark-light-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 6rem;
}

/* Contact */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin: 1rem;
}

input[type="text"],
textarea {
  background: var(--white-color);
  border-radius: 1rem;
  border: none;
  box-shadow: 2px 2px 4px var(--dark-color),
    -2px -2px 4px var(--white-light-color);
  color: var(--text-light-color);
  resize: none;
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  width: 80%;
}

input[type="text"]::after,
textarea::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus,
input[type="text"]:active,
textarea:active {
  box-shadow: inset 2px 2px 4px var(--dark-color),
    inset -2px -2px 4px var(--white-light-color);
  color: var(--text-dark-color);
  transform: scale(0.99);
}

input[type="text"]:focus::after,
textarea:focus::after {
  opacity: 1;
}
