:root {
  /* Primary color */
  --main-yellow: #f5df4d;
  --dark-yellow: #f3d92c;
  --white-yellow: #f9ed9f;
  /* Secondary color */
  --main-gray: #939597;
  --dark-gray: #6e7072;
  --white-gray: #c1c2c3;
  /* Third color */
  --main-blue: #4d63f5;
  --dark-blue: #1835f2;
  --white-blue: #7889f7;
  /* base colors */
  --main-white: #f6f8fa;
  --modal-white: #eceef7;
  --main-dark: #1f1f1f;
  --modal-dark: #171717;
}
