@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Nunito";
  scroll-behavior: smooth;
  color: var(--main-gray);
}

body {
  display: grid;
  font-size: calc(1rem + 1vw);
  place-items: center;
  color: var(--main-gray);
  padding-top: 3rem;
  max-width: 1400px;
}

body > * {
  padding: 0 1rem;
}

section {
  padding: 3rem 1rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  section {
    padding-left: calc(1rem + 2vw);
    padding-right: calc(1rem + 2vw);
  }
}
p {
  line-height: 2rem;
  margin: 1rem auto;
  max-width: 1400px;
  width: 100%;
}

ul {
  margin-bottom: 1rem;
  padding: 1rem;
}

hr {
  width: 90%;
  margin: 2rem auto;
  border: thin solid var(--white-gray);
  border-radius: 1rem;
}

:root {
  /* Primary color */
  --main-yellow: #f5df4d;
  --dark-yellow: #f3d92c;
  --white-yellow: #f9ed9f;
  /* Secondary color */
  --main-gray: #939597;
  --dark-gray: #6e7072;
  --white-gray: #c1c2c3;
  /* Third color */
  --main-blue: #4d63f5;
  --dark-blue: #1835f2;
  --white-blue: #7889f7;
  /* base colors */
  --main-white: #f6f8fa;
  --modal-white: #eceef7;
  --main-dark: #1f1f1f;
  --modal-dark: #171717;
}

h1 {
  color: var(--main-yellow);
  text-align: center;
  text-shadow: 0 2px 3px var(--dark-gray);
  font-family: "Dancing Script";
  font-size: calc(3rem + 3vw);
  margin: 2rem auto;
}

h2 {
  font-size: calc(2.5rem + 1vw);
}

h3 {
  font-size: calc(1.5rem + 1vw);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3::before {
  content: "> ";
}

h3::after {
  content: " <";
}

h2,
h3 {
  font-family: "Baloo Chettan 2";
  color: var(--dark-yellow);
  text-shadow: 0 1px 2px var(--white-gray);
}

h4 {
  font-size: calc(1rem + 1vw);
  color: var(--dark-gray);
  margin-bottom: 0.5rem;
}

a {
  color: var(--dark-gray);
  font-family: "Baloo Chettan 2";
  font-weight: bolder;
  letter-spacing: 0.1rem;
  transition: color 0.4s ease, border 0.3s ease-out;
}
a:hover {
  color: var(--main-yellow);
}
a::before {
  content: "";
  width: 10px;
  height: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.social-media-link {
  color: var(--white-gray);
  font-size: calc(2rem + 1vw);
  transition: color 0.3s ease-in-out;
}
.social-media-link:hover {
  color: var(--dark-gray);
}

.grid-1-2 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  margin-bottom: 1rem;
}

.grid-1-2 > * {
  margin: 1rem auto;
}

.text-center {
  text-align: center;
}

.project-btns {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.flex-1-2 {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 1rem;
}
@media screen and (max-width: 560px) {
  .flex-1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.greeting {
  font-weight: bolder;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  color: var(--dark-gray);
  cursor: pointer;
  font-family: "Baloo Chettan 2";
  font-size: calc(1rem + 1vw);
  font-weight: bolder;
  outline: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease-in;
  min-width: 20%;
  max-width: 150%;
}

.outline-btn {
  border: 2px solid var(--main-gray);
  color: var(--main-gray);
  text-decoration: none;
}
.outline-btn:hover {
  background-color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  box-shadow: 0 2px 6px var(--dark-gray), 0 2px 12px var(--main-dark);
  color: var(--modal-dark);
}
.outline-btn:active {
  transform: scale(0.95);
}

.solid-btn {
  background: var(--main-yellow);
  padding: 0.5rem 2rem;
}
.solid-btn:hover {
  background-color: var(--dark-yellow);
  color: var(--main-dark);
  box-shadow: 0 2px 6px var(--dark-gray), 0 2px 12px var(--main-dark);
}
.solid-btn:active {
  transform: scale(0.95);
}

.inline-list {
  list-style: none;
  padding: 1rem;
}
.inline-list li {
  display: inline-block;
  padding: 0.25rem 1rem;
}

.bullet-list {
  text-align: left;
  margin: 0 auto;
  list-style: none;
}
.bullet-list li::before {
  content: "•";
  color: var(--white-blue);
  display: inline-block;
  width: calc(1rem + 2vw);
}

.circle-img {
  width: 80%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0 3px 10px var(--main-dark), 0 0 5px var(--white-gray);
}

.square-img {
  width: 100%;
  max-width: 500px;
  border-radius: calc(0.2rem + 0.5vw);
}

.modal {
  color: var(--main-white);
  display: none;
  left: 0;
  opacity: 0;
  padding: 2rem 0;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease-out;
  visibility: hidden;
  min-height: 100vh;
  width: 100vw;
}

.modal > * {
  z-index: 10;
}

.modal::before {
  background-color: rgba(0, 0, 0, 0.75);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal.active {
  animation: show 0.5s ease 0.1s both;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  visibility: visible;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#modal-cv .modal-btn {
  color: var(--main-blue);
  background-color: var(--main-white);
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  right: 3rem;
  top: 1rem;
  scroll-margin: 3rem;
  min-width: 5%;
}

#modal-cv .modal-btn:hover {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.modal h3 {
  color: var(--main-yellow);
  font-size: calc(3rem + 1vw);
}

.modal a {
  margin: 2rem auto;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-size: 1.2rem;
  font-family: "Baloo Chettan 2";
  color: var(--dark-gray);
  font-weight: bold;
  padding: 0 1rem 0.5rem;
  min-width: 150px;
}

input[type=text],
input[type=email],
textarea {
  border: thin solid var(--main-blue);
  border-radius: 0.75rem;
  font-family: "Baloo Chettan 2";
  font-size: calc(0.5rem + 1vw);
  outline: none;
  padding: 1rem 0 1rem 2rem;
  min-width: 35vw;
  width: 100%;
  transition: border 0.5s ease-out;
}
input[type=text]:valid,
input[type=email]:valid,
textarea:valid {
  border: thick solid #2ecc71;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: thick solid var(--white-blue);
}

textarea {
  border-radius: 1rem;
  min-height: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--modal-dark);
}
footer a {
  font-size: calc(1.5rem + 1vw);
  text-decoration: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-white);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.carousel-container {
  max-width: 450px;
  width: 90%;
  overflow-x: hidden;
  position: relative;
}

.carousel {
  border-radius: calc(0.2rem + 0.5vw);
  display: flex;
  position: relative;
  transition: transform 1s ease;
}

.carousel-btns {
  margin: 1rem auto;
}

.carousel-btn {
  background-color: var(--white-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: calc(1rem + 1vw);
  transition: background-color 0.3s ease-out;
  width: calc(1rem + 1vw);
}

.carousel-btn:hover {
  background-color: var(--dark-blue);
}

.carousel-btn.active {
  background-color: var(--dark-blue);
}

/*# sourceMappingURL=styles.css.map */
