/* Config */
:root {
  /* Primary color */
  --primary: #f5df4d;
  --primary-dark: #eecf06;
  --primary-white: #f9ed9f;
  /* Secondary color */
  --secondary: #939597;
  --secondary-dark: #6e7072;
  --secondary-white: #c1c2c3;
  /* Third color */
  --tertiary: #4d63f5;
  --tertiary-dark: #1835f2;
  --tertiary-white: #7889f7;
  /* base colors */
  --main-white: #f6f8fa;
  --modal-white: #eceef6;
  --main-dark: #1f1f1f;
  --modal-dark: #353535;
  /* fonts */
  --fluid-1: calc(1rem + 1vw);
  --fluid-2: calc(2rem + 1.5vw);
  --fluid-3: calc(3rem + 2vw);
  --fluid-4: calc(4rem + 2.5vw);
  --fluid-5: calc(5rem + 3vw);
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Baloo Chettan 2", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: var(--main-gray);
}

body {
  font-size: var(--fluid-1);
  color: var(--main-gray);
  max-width: 1400px;
}

header {
  background-color: var(--modal-dark);
  position: fixed;
  top: 0;
  width: 100%;
}

header aside {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: thin solid var(--secondary-dark);
}

header aside h2 {
  color: var(--primary-white);
  font-size: calc(1rem + 1vw);
  font-family: "Dancing Script";
  transition: color 0.3s ease-in-out;
}

header aside h2:hover {
  color: var(--primary);
}

header nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: space-evenly;
  overflow: hidden;
  transition: height 0.3s ease;
}

header nav.show {
  height: 10rem;
}

header nav a {
  color: var(--primary-white);
  text-decoration: none;
  padding: 0.5rem 0;
}

main {
  margin-top: 5rem;
}
