@use '../util/mixins.scss' as *;

.grid-1-2 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  margin-bottom: 1rem;
}

.grid-1-2 > * {
  margin: 1rem auto;
}

.text-center {
  text-align: center;
}

.project-btns {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.flex-1-2 {
  @include flex-col(560px);
  margin-bottom: 1rem;
}

.greeting {
  font-weight: bolder;
}
