footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--modal-dark);

  a {
    font-size: calc(1.5rem + 1vw);
    text-decoration: none;
  }
}
