.carousel-container {
  max-width: 450px;
  width: 90%;
  overflow-x: hidden;
  position: relative;
}

.carousel {
  border-radius: calc(0.2rem + 0.5vw);
  display: flex;
  position: relative;
  transition: transform 1s ease;
}

.carousel-btns {
  margin: 1rem auto;
}

.carousel-btn {
  background-color: var(--white-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: calc(1rem + 1vw);
  transition: background-color 0.3s ease-out;
  width: calc(1rem + 1vw);
}

.carousel-btn:hover {
  background-color: var(--dark-blue);
}

.carousel-btn.active {
  background-color: var(--dark-blue);
}
