.circle-img {
  width: 80%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0 4px 30px 10px var(--main-dark);
}

.square-img {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  border-radius: calc(0.2rem + 0.5vw);
}
