.circle-img {
  width: 80%;
  max-width: 350px;
  border-radius: 50%;
  box-shadow: 0 3px 10px var(--main-dark), 0 0 5px var(--white-gray);
}

.square-img {
  width: 100%;
  max-width: 500px;
  border-radius: calc(0.2rem + 0.5vw);
  display: inline-block;
}
