.inline-list {
  list-style: none;
  padding: 1rem;

  li {
    display: inline-block;
    padding: 0.25rem 1rem;
  }
}

.bullet-list {
  text-align: left;
  margin: 0 auto;
  list-style: none;

  li::before {
    content: "\2022";
    color: var(--white-blue);
    display: inline-block;
    width: calc(1rem + 2vw);
  }
}
