@use '../globals/boilerplate.scss' as *;

a {
  color: var(--dark-gray);
  font-family: $font-baloo;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  transition: color 0.4s ease, border 0.3s ease-out;

  &:hover {
    color: var(--main-yellow);
  }

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    position: relative;
    top: 0;
    left: 0;
  }
}

.social-media-link {
  color: var(--white-gray);
  font-size: calc(2rem + 1vw);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--dark-gray);
  }
}
