@use 'boilerplate' as *;

h1 {
  color: var(--main-yellow);
  text-align: center;
  text-shadow: 0 2px 3px var(--dark-gray);
  font-family: $font-dancing;
  font-size: calc(3rem + 3vw);
  margin: 2rem auto;
}

h2 {
  font-size: calc(2.5rem + 1vw);
}

h3 {
  font-size: calc(1.5rem + 1vw);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3::before {
  content: "> ";
}

h3::after {
  content: " <";
}

h2,
h3 {
  font-family: $font-baloo;
  color: var(--dark-yellow);
  text-shadow: 0 1px 2px var(--white-gray);
}

h4 {
  font-size: calc(1rem + 1vw);
  color: var(--dark-gray);
  margin-bottom: 0.5rem;
}
